# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py

# Media files (user uploads — not in git)
media/

# Static collected
staticfiles/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
